{% extends 'base.html' %}

{% block navbar %}
	{% if user.is_authenticated %}
		{% include 'navbar-logged.html' %}
	{% else %}
		{% include 'navbar-guest.html' %}
	{% endif %}
{% endblock %}

{% block content %}
                  <form method="post">{% csrf_token %}
                      <label class="text-danger">{{error}}</label>
                      <div class="form-group">
                          <label for="postQuestion">Title</label>
                          <input type="text" name="title" class="form-control" placeholder="Enter your question">
                        </div>
                        <div class="form-group my-4">
                            <label for="postText">Question text</label>
                            <textarea type="text" name="body" class="form-control" rows="10" placeholder="Anything, really"></textarea>
                          </div>
                          <div class="form-group my-4">
                            <label for="postTags">Tags:</label>
                              <select class="form-select" multiple name="tags"> 
                                  {% for tag in selectable_tags %}
                                  <option value="{{tag}}">{{tag}}</option> 
                                  {% endfor %}
                              </select>
                          </div>
                        <button type="submit" class="btn btn-primary mt-3">Ask question!</button>
                </form>
{% endblock %}