{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  </head>
  <body class="bg-body-secondary">

    {% block navbar %}
    {% endblock %}

    <div class="container">
      <div class="row">
        <div class="col-md-8 order-last order-md-0 bg-body-tertiary p-2">
          <div class="card">
            <div class="card-body">
              {% block title %}
              {% endblock %}
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div>
        
        
        {% block sidebar %}
        {% endblock %}
         
      </div>
    </div>
    {% block footer %}
    {% endblock %}
    
  </body>
  <script src="https://use.fontawesome.com/fe459689b4.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>

