{% load static %}

<div class="comment card p-3 mx-3 my-2 p-2">
    <div class="row">
      <div class="col-2">
        <img src="{% static 'ico2.png' %}" class="img-fluid py-2">
        <div class="btn-group flex-lg-row flex-column mt-5 mb-2" role="group">
          <button type="button" class="btn btn-success btn-sm">↑</button>
          <span class="border-2 bg-white px-2 fw-bold">{{comment.get_rating}}</span>
          <button type="button" class="btn btn-danger btn-sm">↓</button>
        </div>
      </div>
      <div class="col p-0">
        <h5 class="card-title">{{comment.user}}, {{comment.date_of_creation}}</h5>
        <p class="card-text my-0">{{comment.content}}</p>
        <div class="form-check my-2">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Mark as correct!
          </label>
        </div>
      </div>
    </div>
  </div>