<footer class="footer mt-auto py-3 bg-dark">
    <div class="container d-grid"> 
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            {% if questions.has_previous %}
            <a class="page-link" href="?page={{ questions.previous_page_number }}" aria-label="Previous">
              {% endif %}
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for i in ranges %}
          <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
          {% endfor %}
          <li class="page-item">
            {% if questions.has_next %}
            <a class="page-link" href="?page={{questions.next_page_number}}" aria-label="Next">
              {% endif %}
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>