{% extends 'base.html' %}

{% block navbar %}
	{% if user.is_authenticated %}
		{% include 'navbar-logged.html' %}
	{% else %}
		{% include 'navbar-guest.html' %}
	{% endif %}
{% endblock %}

{% block title %}
	<label class="card-title h2 mx-3">Hot questions</label>
	<a href="{% url 'index' %}" class="caption-top h4 mx-3 link-info">New questions</a>
	<button class="btn btn-primary"><a class="text-white" href="{% url 'ask' %}">Ask new</a></button>
{% endblock %}

{% block content %}
	{% for question in questions %}
		{% include 'question-preview.html' %}
	{% endfor %}
{% endblock %}
     
{% block sidebar %}
	{% include 'sidebar.html' %}
{% endblock %}

{% block footer %}
	{% include 'footer.html' %}    
{% endblock %}