{% extends 'base.html' %}

{% block navbar %}
	{% include 'navbar-guest.html' %}
{% endblock %}

{% block content %}
              <label class="card-title h2">Login </label><br>
              <label class="text-danger">{{error}}</label>
              <form method="post">{% csrf_token %}
                <div class="form-group my-3">
                  <label for="username">Username</label>
                  <input type="username" name="username" class="form-control" id="username">
                </div>
                <div class="form-group my-3">
                  <label for="password">Password</label>
                  <input type="password" name="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
                <a href="{% url 'signup' %}" class="link-primary mx-3">or create new account</a>
              </form>
{% endblock %} 


 