{% load static %}

{% block navbar %}
  <nav class="navbar bg-dark">
        <div class="container d-inline align-items-center">
          <div class="row">
            <div class="col-md-4 col-lg-3 order-md-0 order-2">
              <a href="{% url 'index' %}">
                <img
                  src="{% static 'logo.png' %}"
                  class="img-fluid m-3 d-inline-block"
                  alt=""
                  style="filter: invert(100%)"
              />
              </a>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-10 col-8">
              <form method="GET">
                <label form="text" class="form-label"></label>
                <div class="input-group">
                  <input
                    type="search"
                    id="text"
                    class="form-control"
                    placeholder="How to exit vim..."
                    name = "search"
                  />
                  <button class="btn btn-primary">Search</button>
                </div>
              </form>
            </div>
            <div class="p-1 col-md-2 col-sm-2 col-2">
              <div class="row">
                <div class="col-3 mx-3">
                  <div class="dropdown">
                    <a class="btn dropdown-toggle" data-bs-toggle="dropdown" role="button"><img
                      src="{{avatar}}"
                      width="64"
                      height="64"
                      class="align-top"
                      alt="test"
                    />
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-dark text-center">
                      <li><a href="#" class="text-decoration-none text-white">{{user.username}}</a></li>
                      <li><a href="{% url 'settings' %}">Settings</a></li>
                      <li><a href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row d-none d-lg-inline-flex px-4">
                    <a  href="" class="d-block text-decoration-none text-white">{{user.username}}</a>
                    <a  href="{% url 'settings' %}" class="text-primary">Settings</a>
                    <a  href="{% url 'logout' %}" class="text-primary">Log out</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </nav>
{% endblock %}

