{% load static %}

{% block navbar %}
<nav class="navbar bg-dark">
  <div class="container d-inline align-items-center">
    <div class="row">
      <div class="col-md-4 col-lg-3 col-xs-12">
        <a href="{% url 'index' %}">
            <img
              src="{% static 'logo.png' %}"
              class="img-fluid m-3 d-block order-md-0 order-last dropdown-toggle"
              alt=""
              style="filter: invert(100%)"
          />
          </a>
      </div>
      <div class="col-lg-7 col-md-6 col-xs-4">
        <form method="GET">
          <label form="text" class="form-label"></label>
          <div class="input-group">
            <input
              type="text"
              id="text"
              class="form-control"
              placeholder="How to exit vim..."
              name = "search"
            />
            <button class="btn btn-primary">Search</button>
          </div>
        </form>
      </div>
      <div class="p-3 col-md-2 col-xs-4" >
        <div class="row">
          <div class="col-3 mx-3">
            <div class="btn-group my-2 text-nowrap">
                <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
                <a href="{% url 'signup' %}" class="btn btn-outline-primary">Sign up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

