{% extends 'base.html' %}

{% load static %}

{% block navbar %}
	{% if user.is_authenticated %}
		{% include 'navbar-logged.html' %}
	{% else %}
		{% include 'navbar-guest.html' %}
	{% endif %}
{% endblock %}


{% block title %}
	<label class="card-title h2 mx-3">{{question.label}}</label>
{% endblock %}

{% block content %}
<div class="card">
	<div class="card-body p-3">
	  <div class="row">
		<div class="col-2">
		  <img src="{% static 'ico2.png' %}" class="img-fluid py-2">
		  <div class="btn-group flex-lg-row flex-column mt-5 mb-2" role="group">
			<button type="button" class="btn btn-success btn-sm">↑</button>
			<span class="border-2 bg-white px-2 fw-bold">{{question.get_rating}}</span>
			<button type="button" class="btn btn-danger btn-sm">↓</button>
		  </div>
		</div>
		<div class="col-10 p-0">
		  <h5 class="card-title">{{question.user}}, {{question.date_of_creation}}</h5>
		  <div style="min-height: 200px;">
			<p class="card-text my-0">{{question.content}}</p>
		  </div>
			<label class="h5 me-1">Tags:</label>
			{% for tag in question.tags.all %}
			<a href="{% url 'tags' tag.name %}" class="link-dark">{{tag.name}}</a>
			{% endfor %}
		  
		</div>
	  </div>
	  <label class="card-title h3 mx-3 mt-5">Answers: </label>

	  	{% if user.is_superuser %}
		<form method="post">{% csrf_token %}
			<button type="submit" action="delete" class="btn btn-danger">DELETE POST</button>
		</form>
  		{% endif %}
	  
	  {% if not comments %}
	  	{% if user.is_authenticated %}
	  	<br><label class="card-title h5 mx-3 mt-5">Be the first to answer! </label>
		{% endif %}
	  {% endif %}
	  
	  {% for comment in comments %}
		{% include 'comment.html' %}
	  {% endfor %}
	 
	  {% if user.is_authenticated %}
	  <form method="post">{% csrf_token %}
		  <div class="form-group my-4">
			  <label for="postText">Your answer</label>
			  <textarea name="answer" type="text" class="form-control" rows="10" placeholder="Anything, really"></textarea>
			</div>
		  <button type="submit" class="btn btn-primary mt-3">Answer</button>
  		</form>
	{% endif %}

	</div>
  </div>

{% endblock %}

{% block sidebar %}
	{% include 'sidebar.html' %}
{% endblock %}

{% block footer %}
	{% include 'footer.html' %}    
{% endblock %}
