{% load static %}
<div class="card mt-4">
    <div class="card-header h4 font-monospace bg-body-secondary">
      <a href="{% url 'question' question.id %}">{{question.label}}</a>
    </div>
    <div class="card-body py-3"> 
      <div class="row">
        <div class="col-xl-1 col-2">
          <img src="{% static 'ico2.png' %}" class="img-fluid py-2"><br>
          <div class="btn-group flex-column mt-5 small" role="group">
            <button type="button" class="btn btn-success btn-sm">↑</button>
            <span class="border-2 bg-white px-2 fw-bold">{{question.get_rating}}</span>
            <button type="button" class="btn btn-danger btn-sm">↓</button>
          </div>
        </div>
        <div class="col-xl-11 col-10 p-0">
          <h5 class="card-title">{{question.user}}, {{question.date_of_creation}}</h5>
          <div style="min-height: 200px;">
            <p class="card-text my-0">{{question.content}}</p>
            </div>
          <a href="{% url 'question' question.id %}" class="me-5">Answers <span class="badge bg-primary mx-1">{{question.comment_set.all.count}}</span></a>

            <label class="h5 me-1">Tags:</label>
            {% for tag in question.tags.all %}
			      <a href="{% url 'tags' tag.name %}" class="link-dark">{{tag.name}}</a>
			      {% endfor %}
          
        </div>
      </div>
    </div>
  </div>
