{% extends 'base.html' %}

{% load static %}

{% block navbar %}
	{% include 'navbar-logged.html' %}
{% endblock %}

{% block content %}
<div class="card-body">
<label class="card-title h2">Settings: {{user.username}}</label><br>
<label class="text-danger">{{error}}</label>
<label class="text-success">{{success}}</label>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
   <div class="form-group my-3">
	   <label for="email">Email address</label>
	   <input type="email" name="email" class="form-control" id="email">
   </div>
   <div class="form-group my-3">
	   <label for="username">Username</label>
	   <input type="username" name="username" class="form-control" id="username">
   </div>
   <div class="form-group my-3">
	   <label for="password">Password</label>
	   <input type="password" name="password" class="form-control" id="password">
   </div>
   <div class="form-group my-3">
	   <label for="confirm_password">Repeat password</label>
	   <input type="password" name="confirm_password" class="form-control" id="password-repeat">
   </div>
   <div class="form-group my-3">
    <label for="avatar">Choose photo...</label>
    <input class="form-control" name="avatar" type="file" id="avatar" placeholder="{% static 'ico2.png' %}">
  </div>
  <button type="submit" class="btn btn-primary mt-3">Update</button>         
</form>
      
                     
</div>
{% endblock %}



          
  