<div class="col-md-4 bg-body-tertiary p-2">
    <div class="d-flex flex-column">
      <div class="card text-center" font-size: 2rem;">
        <div class="card-body">
          <h1 class="card-title">Popular tags:</h1>
          {% for tag in tags %}
          <span class="badge bg-info"><a href="{% url 'tags' tag.name %}" class="text-white">{{tag.name}}</a></span>
          {% endfor %}
        </div>
      </div>
      <div class="card text-center my-2" font-size: 2rem;">
        <div class="card-body">
          <h1 class="card-title">Top users:</h1>
          <ol class="text-start">
            {% for user in users %}
            <li><a href="#" class="link-info">{{user.username}}</a></li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
    </div>