{% extends 'base.html' %}

{% block navbar %}
	{% include 'navbar-guest.html' %}
{% endblock %}

{% block content %}
<label class="card-title h2">Registration </label><br>
<label class="text-danger">{{error}}</label>
<form method="post">{% csrf_token %}
   <div class="form-group my-3">
	   <label for="email">Email address</label>
	   <input type="email" name="email" class="form-control" id="email">
   </div>
   <div class="form-group my-3">
	   <label for="username">Username</label>
	   <input type="username" name="username" class="form-control" id="username">
   </div>
   <div class="form-group my-3">
	   <label for="password">Password</label>
	   <input type="password" name="password" class="form-control" id="password">
   </div>
   <div class="form-group my-3">
	   <label for="confirm_password">Repeat password</label>
	   <input type="password" name="confirm_password" class="form-control" id="password-repeat">
   </div>
   <button type="submit" class="btn btn-primary mt-3">Sign up</button>
</form>
{% endblock %} 

