{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  </head>

     <body>

    <div class="container">
    <div class="row">
      <div class="col-md-8 order-last order-md-0 bg-body-tertiary p-2">
        <div class="card">
          <div class="card-body">
            <label class="card-title h2 mx-3">New questions</label>
            <a class="caption-top h4 mx-3 link-info">Hot questions</a>
            
            <div class="card mt-4">
              <div class="card-header h4 font-monospace bg-body-secondary">
                <a href="question.html">How to find a girlfriend?</a>
              </div>
              <div class="card-body px-3 py-0">
                <div class="row">
                  <div class="col-2">
                    <img src="static/ico2.png" class="img-fluid py-2">
                    <div class="btn-group flex-lg-row flex-column mt-5 mb-2" role="group">
                      <button type="button" class="btn btn-success btn-sm">↑</button>
                      <span class="border-2 bg-white px-2 fw-bold">1</span>
                      <button type="button" class="btn btn-danger btn-sm">↓</button>
                    </div>
                  </div>
                  <div class="col-10 p-0">
                    <h5 class="card-title">exg0rd, 2 hours ago</h5>
                    <p class="card-text my-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat similique temporibus dolores accusantium at tempora nemo exercitationem explicabo reprehenderit laborum quam, sint hic possimus error harum, reiciendis quaerat iure rem..</p>
                    <a href="#" class="me-5">Answers <span class="badge bg-primary mx-1">4</span></a>

                      <label class="h5 me-1">Tags:</label>
                      <a href="#" class="link-dark">C</a>
                      <a href="#" class="link-dark">C++</a>
                      <a href="#" class="link-dark">Linux</a>
                    
                  </div>
                </div>
               
              </div>
            </div>

            <div class="card mt-4">
              <div class="card-header h4 font-monospace bg-body-secondary">
                <a href="question.html">How to find a girlfriend?</a>
              </div>
              <div class="card-body px-3 py-0">
                <div class="row">
                  <div class="col-2">
                    <img src="static/ico2.png" class="img-fluid py-2">
                    <div class="btn-group flex-lg-row flex-column mt-5 mb-2" role="group">
                      <button type="button" class="btn btn-success btn-sm">↑</button>
                      <span class="border-2 bg-white px-2 fw-bold">1</span>
                      <button type="button" class="btn btn-danger btn-sm">↓</button>
                    </div>
                  </div>
                  <div class="col-10 p-0">
                    <h5 class="card-title">exg0rd, 2 hours ago</h5>
                    <p class="card-text my-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat similique temporibus dolores accusantium at tempora nemo exercitationem explicabo reprehenderit laborum quam, sint hic possimus error harum, reiciendis quaerat iure rem..</p>
                    <a href="#" class="me-5">Answers <span class="badge bg-primary mx-1">4</span></a>

                      <label class="h5 me-1">Tags:</label>
                      <a href="#" class="link-dark">C</a>
                      <a href="#" class="link-dark">C++</a>
                      <a href="#" class="link-dark">Linux</a>
                    
                  </div>
                </div>
               
              </div>
            </div>


            <div class="card mt-4">
              <div class="card-header h4 font-monospace bg-body-secondary">
                <a href="question.html">How to find a girlfriend?</a>
              </div>
              <div class="card-body px-3 py-0">
                <div class="row">
                  <div class="col-2">
                    <img src="static/ico2.png" class="img-fluid py-2">
                    <div class="btn-group flex-lg-row flex-column mt-5 mb-2" role="group">
                      <button type="button" class="btn btn-success btn-sm">↑</button>
                      <span class="border-2 bg-white px-2 fw-bold">1</span>
                      <button type="button" class="btn btn-danger btn-sm">↓</button>
                    </div>
                  </div>
                  <div class="col-10 p-0">
                    <h5 class="card-title">exg0rd, 2 hours ago</h5>
                    <p class="card-text my-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat similique temporibus dolores accusantium at tempora nemo exercitationem explicabo reprehenderit laborum quam, sint hic possimus error harum, reiciendis quaerat iure rem..</p>
                    <a href="#" class="me-5">Answers <span class="badge bg-primary mx-1">4</span></a>

                      <label class="h5 me-1">Tags:</label>
                      <a href="#" class="link-dark">C</a>
                      <a href="#" class="link-dark">C++</a>
                      <a href="#" class="link-dark">Linux</a>
                    
                  </div>
                </div>
               
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    </div>
    </body>
    </html>
