<div class="card mt-4">
    <div class="card-header h4 font-monospace bg-body-secondary">
      <a href="#">How to find a girlfriend?</a>
    </div>
    <div class="card-body px-3 py-3">
      <div class="row">
        <div class="col-2">
          <img src="static/ico2.png" class="img-fluid py-2">
          <div class="btn-group flex-lg-row flex-column mt-5 mb-2" role="group">
            <button type="button" class="btn btn-success btn-sm">↑</button>
            <span class="border-2 bg-white px-2 fw-bold">1</span>
            <button type="button" class="btn btn-danger btn-sm">↓</button>
          </div>
        </div>
        <div class="col-10 p-0">
          <h5 class="card-title">exg0rd, 2 hours ago</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat similique temporibus dolores accusantium at tempora nemo exercitationem explicabo reprehenderit laborum quam, sint hic possimus error harum, reiciendis quaerat iure rem..</p>
          <a href="#" class="me-5">Answers <span class="badge bg-primary mx-1">4</span></a>

            <label class="h5 me-1">Tags:</label>
            <a href="#" class="link-dark">C</a>
            <a href="#" class="link-dark">C++</a>
            <a href="#" class="link-dark">Linux</a>
          
        </div>
      </div>
     
    </div>
  </div>
